<html>
    <body>
        <div *ngFor="let usuario of usuarios">
            <div>
                <label for="id">id: {{usuario.id}}</label>
            </div>
            <div>
                <label for="primerNombre">Primer nombre: {{usuario.primerNombre}}</label>
            </div>
            <div>
                <label for="segundoNombre">Segundo nombre: {{usuario.segundoNombre}}</label>
            </div>
            <div>
                <label for="primerApellido">Primer apellido: {{usuario.primerApellido}}</label>
            </div>
            <div>
                <label for="segundoApellido">Segundo apellido: {{usuario.segundoApellido}}</label>
            </div>
            <div>
                <label for="numeroDocumento">Número de documento: {{usuario.numeroDocumento}}</label>
            </div>
            <div>
                <label for="edad">Edad: {{usuario.edad}}</label>
            </div>
            <div>
                <label for="sexo">Sexo: {{usuario.sexo}}</label>
            </div>
            <div>
                <label for="correo">Correo: {{usuario.correo}}</label>
            </div>
            <div>
                <label for="rol">Rol: {{usuario.rol}}</label>
            </div>
        </div>
    </body>
</html>